/* Make inline code red */
.cm-inline-code {
  color: #ff4d4f !important;
}

/* Preview mode */
.markdown-preview-view code {
  color: #ff4d4f;
}

/* Code block container */
.markdown-rendered pre,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  /* background-color: #181818 !important;   */
  border-left: 4px solid #204AE3;

} 

